<?xml version='1.0' encoding='utf-8'?>
<widget id="org.crowdsensus.newsensus" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NewsConsensus</name>
    <icon src="res/app_icon.png" />
    <description>
        An app for voting and accessing the consensus on the veracity of news.
    </description>
    <author email="luucaa@gmail.com" href="https://sites.google.com/view/news-checker/home">
        The News Consensus Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-custom-config" spec="~3.1.2" />
    <plugin name="cordova-plugin-device" spec="~1.1.4" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
