
<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' https://luca-ucsc-teaching-backend.appspot.com 'unsafe-inline'; script-src 'self' https://luca-ucsc-teaching-backend.appspot.com 'unsafe-inline' 'unsafe-eval';">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link href="css/myapp.css" rel="stylesheet" type="text/css" />
        <link href="css/stupid.css" rel="stylesheet" type="text/css"/>
        <link href="font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <title>Cordova Starter App, CMPS 121</title>
        <script type="text/javascript" src="js/shobit.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript" src="js/randomString.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
    </head>
    <body>

    <div id="vue-div" class="app" style="display:none">

        <div class="top_input">
            <input v-model="magic_word" placeholder="shared magic word" />
            <button v-on:click="set_magic_word">Play</button>
            <i v-if="total_hits > 9">Game Over!
                <button v-on:click="newGame">New Game</button>
            </i>
            <i v-if="need_new_magic_word" class="fa fa-warning"></i>
            <i v-if="!poop">Waiting...</i>
            <i v-if="poop">Game Has Started!</i>
        </div>
        
        <!--<div v-if="poop">Waiting for Other Player</div>-->
        <div class="role">
            You are: ${my_role}
        </div>

        <div class="enemy board container">
            <div align = "center">Shoot Here</div>
            <table>
                <tr v-for="i in [0, 1, 2, 3, 4, 5, 6, 7]">
                    <td v-on:click="play(i * 8 + j)" v-for="j in [0, 1, 2, 3, 4, 5, 6, 7]"
                    v-bind:class ="{red: top_board[i*8+j] < 0}">
                    <i v-if="top_board[i*8+j]==='W'" class = "fa fa-circle" style = "color:blue"></i>

                        <!--${top_board[i * 8 + j]}-->
                    </td>
                </tr>
            </table>
        </div>
        <div class="board container">
            <div align = "center">Your Board</div>
            <table>
                <tr v-for="i in [0, 1, 2, 3, 4, 5, 6, 7]">
                    <td v-on:click="play(i,j)" v-for="j in [0, 1, 2, 3, 4, 5, 6, 7]"
                        v-bind:class = "{red:board[i*8+j] <0, green:board[i*8+j]>0,
                        blue:board[i*8+j]==='W' }">
                       <!-- ${board[i * 8 + j]}-->
                    </td>
                </tr>
            </table>
        </div>


        <div v-if="is_my_turn" class="turn_indicators">
            Play ${my_role}
        </div>

    </div>

    <script type="text/javascript" src="cordova.js"></script>
    </body>
</html>